
-var id=`${prefix}${reg.id}`


//- pre #{JSON.stringify(reg)} 

div(class="col", title=`${reg.title[lang]}`)

  input(type="time" id =`${id}` class="form-control", value=`${reg.value}`, min=`${reg.min}`, max=`${reg.max}`) 
