extends layout
block content
	div(class="container card border-info mt-5")
		h1(class="card-header") #{furnace.fullName}
		div(class="row card-body")
			div(class="d-flex flex-column justify-content-between p-2" style="width: 215px")
				div.p-2(title="Температура в печи")
					table(style="width: 100%")
						each val, key in furnace.regs
							tr
								td 
									h2(class="col-md-4 w-auto")= furnace.regs[key].title + ': '
								td 
									h2(class="col-md-4 w-auto" style="color:forestgreen" id=key)= '0'
								td
									h2(class="col-md-4 w-auto")= furnace.regs[key].units
				div(class="btn-group-vertical w-100 p-2")
					a(href="/report/"+furnace.id class="btn btn-outline-dark w-100") Отчёты
					a(href="/" class="btn btn-outline-dark w-100") Главная
			div(class="col-9" style="height: 400px; width: calc(100% - 215px)" id="myChart")
	script
		- var regs = '\"' + furnace.listRegs + '\"';
		!= `var regs = ${regs};`
		- var registers = JSON.stringify(furnace.regs);
		!= `var registers = ${registers};`
		include ../public/chart/d3/d3.js
		include ../public/chart/js/drawChart.js
		include ../tools/createGraph.js