extends layout
block content
	div(class="container-fluid card border-info mt-5 p-0")
		h1(class="card-header") #{furnace.fullName}
		div(class="row card-body")
			div(class="d-flex flex-column justify-content-between p-2" style="width: 215px")
				div.p-2
					table(style="width: 100%")
						each val, key in furnace.regs
							tr(title=furnace.regs[key].description)
								td 
									h2(class="col-md-4 w-auto")= furnace.regs[key].title + ': '
								td 
									h2(class="col-md-4 w-auto" style="color:forestgreen" id=key)= '0'
								td
									h2(class="col-md-4 w-auto")= furnace.regs[key].units
				div(class="btn-group-vertical w-100 p-2")
					a(href="/parameterSetting/"+furnace.id class="btn btn-outline-dark w-100") Програма
					a(href="/report/"+furnace.id class="btn btn-outline-dark w-100") Звіти
					a(href="/" class="btn btn-outline-dark w-100") Головна
			div(class="col-9" style="height: 400px; width: calc(100% - 215px)" id="myChart")
	div(class="card border-info mt-1" style="width:450px")
		div(class="card-header") Поточна програма
		ul(class="list-group listgroup-flush overflow-auto p-1" style="max-height: 240px" id="process-program-list")
	script
		- var regs = '\"' + furnace.listRegs + '\"';
		!= `var regs = ${regs};`
		- var registers = JSON.stringify(furnace.regs);
		!= `var registers = ${registers};`
		include ../tools/createGraph.js
	