extends layout
mixin Card(thisFurnace)
  div(class="col-md-5 h-100")
    div(class="card border-info m-3" style="min-width: 320px")
      div(class="card-header")
        h1= thisFurnace.shortName
      div(class="card-body")
        each val, key in thisFurnace.regs
          div(class="card-title row")
            h2(class="col-md-4 w-auto")= thisFurnace.regs[key].title + ': '
            h2(class="col-md-4 w-auto" id=key)= '0'
            h2(class="col-md-4 w-auto")= thisFurnace.regs[key].units
        a( href="/graph/"+thisFurnace.id)
          button(type="button" class="btn btn-outline-info") Детали
block content
  div(class="container mt-5")
      div(class="row justify-content-around")
        each furnace in entities
          +Card(furnace)
  script
    - var keys = '\"';
    each furnace in entities
      each val, key in furnace.regs
        - keys += key + ';';
    - keys = keys.slice(0, -1);
    - keys += '\"';
    != `var keys = ${keys};`
  script
    include ../tools/refreshData.js