
pre #{JSON.stringify(processMan.htmlProgram)} 
-var buttonsContainer = "process_buttonsContainer"
-var programContainer = "process_programContainer"

div.row
  div.column 
hr
div.row
  div.column(id=buttonsContainer)     
div.row
  div.column(id=programContainer)     

script.
  var  processMan = {};
  processMan.homeUrl = `#{processMan.homeUrl}`;
  processMan.editTaskUrl = `#{processMan.tasksManager.homeURL}`;
  processMan.buttons = {};
  processMan.buttons.container =  document.getElementById(!{`"${buttonsContainer}"`}); 
  processMan.program = {};
  processMan.program.container = document.getElementById(!{`"${programContainer}"`});

script
  include ./js/myElR_step.js
  include ./js/processMan_Main.js
