//- Файл рендерить повну домашню сторінку конкретної сутності

-
  var controllersArr =[];
  for (const key in entity.controllers) {
    if (Object.hasOwnProperty.call(entity.controllers, key)) {
      if (key != "about") controllersArr.push(entity.controllers[key])

  }}


//- для трасування
//- pre #{JSON.stringify(entity.process)}
//- pre #{JSON.stringify(controllersArr[0].htmlFull())}



div(class="row")
  each item in controllersArr
    div(class="col")
      div !{item.htmlFull()}
hr
div(class="row h-100")
  div(class="col-3") !{entity.mainProcess.htmlFull(entity)}
  div(class="col")
    h3 Тут має бути графік


a(class="btn btn-primary" href=`${controllersButton.href}controllers/`  role="button")  
  #{controllersButton.title.ua}
