//- style.
//-   @page { 
//-     size: A4 landscape; 
//-     margin: 18mm 5mm 5mm 5mm;
//-     border: 1px solid;
//-     }
style.
  @media print{
    @page { 
      size: A4 landscape; 
      margin: 5mm 5mm 5mm 5mm;
      //- border: 1px solid;
      }
  }

diw.row.h-100#bodyRow
  div.col-2.h-100#fileManagerContainer
    include ../../naviButtons/naviButtons.pug
    div.row#el_fileMan_btnGroup
    div.row#fileMan_currFile
    div.row#el_fileMan_listFiles
  //- div.col.h-100  
  //-   div.row.h-100
  div.col-10.h-100#chartColumn
    div.row.d-none#reportHeader
      div.col-2
        img(src="/img/logo.png" style="height:42px" )
      div.col-2
        img(src="/img/logo_bortek.png" style="height:42px")
      div.col-md-auto.h4.text-center  #{req.entity.fullName[lang]}
      div.col.h4.text-center  #{{ua:`Звіт № _____`,en:`Report _____`,ru:`Отчет № ______`}[lang]}
        //- pre #{JSON.stringify(req.entity.fullName)} 
    div.row#programHeader 
      div.col-3
        div  
          span.h6 Назва програми: 
          br
          span#tasksName
        div
          span.h6 Початок:  
          span#tasksStarted
      div.col-9#tasksNote

        //- div
        //-   span.h6 Початок
        //-   span#tasksFinished

    div.row.h-75#chartRow
      div.col-12
        include ./loggerCompact.pug
    div.row.d-none#reportSignature
      div.col-4.text-center !{'Підпис терміста: ______________'}
      div.col-4.text-center !{'Підпис майстра зміни: __________________'}
      div.col-4.text-center !{'Підпис ВТК: __________________ '}



    //- div.col-10.h-100 !{chart} 
    //- include loggerCompact.pug

script.
  var logMan = {};
  logMan.homeUrl = JSON.parse('!{JSON.stringify(logger.homeUrl)}');
  logMan.currentFile = JSON.parse('!{JSON.stringify(logger.fileName)}')


  //- logMan.fileManager = {
  //- }
  //- setTimeout(()=>{chartMan.chart.start()},5000);

script 
  include ../../fileManager/views/fMan_Class.js
  include ./logger_fileManager.js
  include ./logger_printReport.js
  include ./logger_tasksManager.js